MyWcfConsumer/MyWcfConsumer/Connected Services/MyService2/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51654/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MySoapService" />
  <xs:element name="GetQuestionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MySoapService" minOccurs="0" name="questionList" nillable="true" type="q1:QuestionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MySoapService" minOccurs="0" name="GetQuestionListResult" nillable="true" type="q2:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuestionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuestionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MySoapService" minOccurs="0" name="CreateQuestionListResult" nillable="true" type="q3:QuestionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MySoapService" minOccurs="0" name="questionList" nillable="true" type="q4:QuestionList" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MySoapService" minOccurs="0" name="newQ" nillable="true" type="q5:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestionListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MySoapService" minOccurs="0" name="questionList" nillable="true" type="q6:QuestionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestionListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>